In [2]:
a=2*7

In [8]:
if a > 20:
    pass
else:
    print("wow")

wow

In [ ]:
if a > 20:
    pass
else:
    print("wow")

In [12]:
import pandas as pd

cc =[1, 2, 3, 4]
aaa = ['A', 'B', 'B', 'B']
df1 = pd.DataFrame({'ID': cc, 'AAA': aaa })
df1

   ID AAA
0   1   A
1   2   B
2   3   B
3   4   B

In [14]:
cc =[1, 2, 3, 4]
aaa = ['A', 'B', 'B', 'B']
df2 = pd.DataFrame({'ID': cc, 'AAA': aaa })
df2

   ID AAA
0   1   A
1   2   B
2   3   B
3   4   B

In [15]:
cc =[1, 2, 3, 4]
aaa = ['A', 'B', 'B', 'B']
df3 = pd.DataFrame({'ID': cc, 'AAA': aaa })
df3

   ID AAA
0   1   A
1   2   B
2   3   B
3   4   B

In [17]:
TABELE = [df1,df2,df3]

for t in TABELE:
    Valuator = pd.concat(Valuator,t)

NameError: name 'Valuator' is not defined

In [5]:
var = 2
if var:
    print('it exists')
else:
    print('nope it does not')

it exists

In [2]:
try:
    var
except NameError:
    var_exists = False
else:
    var_exists = True

In [8]:
kot=1

In [10]:
try:
    kot
except NameError:
    print('not defined')
else:
    print('jest')

jest