In [7]:
    def Robi(A,B,C,D):    
        
        import pandas as pd
        
        global dfv
                        
        FPR = A*(B/(A + B))
        TPR = C*(B/(C + B))
        FNR = D*(B/(D + B))
        SPEC = B*(A/(C + D)), 
    
        dfv = pd.DataFrame({'FPR': [FPR], 'TPR':[TPR],'FNR':[FNR],'SPEC':[SPEC]})
        return dfv

In [8]:
A = 6
B = 2
C = 4
D = 9

In [9]:
Robi(A,B,C,D)

   FPR       TPR       FNR                   SPEC
0  1.5  1.333333  1.636364  (0.9230769230769231,)

In [13]:
    def Robi(RRR,QQQ,A,B,C,D):    
        
        
        
        import pandas as pd
        
        global dfv
        
        for r,q in zip(RRR,QQQ):
        
        
            FPR = r * (A*(B/(A + B)))
            TPR = q * (C*(B/(C + B)))
            FNR = r * (D*(B/(D + B)))
            SPEC = q * (B*(A/(C + D))) 
    
            dfv = pd.DataFrame({'FPR': [FPR], 'TPR':[TPR],'FNR':[FNR],'SPEC':[SPEC]})
            return dfv

In [14]:
A = 6
B = 2
C = 4
D = 9

RRR = [2,3,6,12,3,6,7]
QQQ = [1,2,3, 4,5,6,7]

In [15]:
Robi(RRR,QQQ,A,B,C,D)

   FPR       TPR       FNR      SPEC
0  3.0  1.333333  3.272727  0.923077

In [23]:

def maszyna1(III,KKK):

    global df
    import pandas as pd
 
    df = pd.DataFrame({'FPR': [], 'TPR': [], 'FNR': []})


    for i,k in zip(III, KKK):
            df = df.append({'FPR': i*k, 'TPR': i/k, 'FNR': i**k}, ignore_index=True)     
        
    return df

In [24]:
III = [1,2,3]
KKK = [4,3,2]

In [25]:
maszyna1(III,KKK)

   FPR       TPR  FNR
0  4.0  0.250000  1.0
1  6.0  0.666667  8.0
2  6.0  1.500000  9.0